.git
.gitignore
.github
*.md
api/vendor
api/node_modules
api/storage/logs
api/storage/framework/cache
api/storage/framework/sessions
api/storage/framework/views
api/bootstrap/cache/*.php

tmp
.env
.env.local
